body,
html {
  background-color: rgb(231, 234, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.my-header {
  display: inline-flex;
  background-color:white;
  height: 80px;
}

header span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  color: rgb(14, 13, 12);
}

.navigation ul {
  margin: 0;
  padding: 1%;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation a {
  color: blue;
  text-decoration: none;
}

.hero-banner {
  background-color: aqua;
  background-image: url("/img/guitar-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.inner {
  width: 1920px;
  margin: 0 auto;
  border: 1px red;
}

/*
general selection:
any anchor tag that inside .navigation
will be yellow
/*

/* 
    margin: 0 0 0 0;
    margin: TOP RIGHT BOTTOM LEFT;
*/

/* direct descendant of .navigation */

.navigation > a {
  color: blue;
  border: 5px dotted yellow;
  padding: 10px;
}

.footer {
  background-color: aqua;
}

#home-page h1 {
  color: red;
}

body#guitar-page {
  background-color:rgb(231, 234, 238);
}

#guitar-page h1 {
  color: lightgreen;
  font-size: 50;
}

.our-guitars {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50%;
}

#home-page h2 {
  color: black;
  font-size: 20;
  font-weight: 500;
}